<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>登录 - 迷你日志</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="../img/favicon.png">
  <link rel="stylesheet" href="../css/amazeui.min.css"/>
  <link rel="stylesheet" href="../css/wap.css">
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body style="background:#ececec">


  <div class="pet_mian" >
    <div class="pet_head">
      <header data-am-widget="header"
          class="am-header am-header-default pet_head_block">
        <div class="am-header-left am-header-nav ">
          <!-- <a href="#left-link" class="iconfont pet_head_jt_ico">&#xe601;</a> -->
        </div>
      <div class="pet_news_list_tag_name">迷你日志</div>
        <div class="am-header-right am-header-nav">
          <!-- <a href="javascript:;" class="iconfont pet_head_gd_ico">&#xe600;</a> -->
        </div>
      </header>
    </div>

    <div class="pet_content pet_content_list">
      <div class="pet_grzx">


<div class="header">
  <div class="am-g">
    <h1>迷你日志</h1>
    <p>小白接口H5开发示例，可体验使用。<br /> 采用技术：Vue + Amaze UI + jQuery + OkayApi</p>
  </div>
  <hr />
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered" id="app">
    <h3>亲，请先登录~</h3>
    <hr>

    <form method="post" class="am-form">
      <label for="username">账号:</label>
      <input type="text" name="" id="username" value="" placeholder="请输入登录账号，或新注册的新账号"  v-model="username">
      <br>
      <label for="password">密码:</label>
      <input type="password" name="" id="password" value="" placeholder="请输入6位以上的密码" v-model="password">
      <br>
    </form>
      <div class="am-cf">
          <button v-on:click="userLogin" class="am-btn am-btn-primary am-btn-sm am-fl">登 录</button>
          <button  v-on:click="userRegister" class="am-btn am-btn-default am-btn-sm am-fr">快速注册</button>
      </div>
  </div>
</div>

        <div class="pet_article_dowload">
              <div class="pet_article_dowload_title">小白接口开发示例</div>
              <div class="pet_article_dowload_content"><div class="pet_article_dowload_triangle"></div>
              <div class="pet_article_dowload_ico"><img src="../img/logo_min.png" alt=""></div>
              <div class="pet_article_dowload_content_font">
        小白接口，是免费，免开发，直接可用的云端数据接口！<br/>我们致力于提供让每个开发者都能轻松使用的云端接口。
              </div>
              </div>
          </div>
      </div>

        <div class="pet_article_footer_info">Copyright © 2018 OkayApi All Rights Reserved</div>
    </div>
</div> <!-- pet_mian -->


    <script src="../js/jquery.min.js"></script>
    <script src="../js/amazeui.min.js"></script>
    <script src="../js/vue.js"></script>

    <script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            username: '',
            password: ''
        },
        methods: {
            userLogin: function(event) {
            },
            userRegister: function(event) {
            }
        }
    })
    </script>

</body>
</html>
